
<div class="row mx-auto " style="border:solid black 1px; width:900px;height:400px;margin-top:10%">
    <div class="col text-center font-weight-light display-4" style="border:solid black 1px">
        Governmental Documents<br>
        <button><%= link_to 'GO', docs_path(:flag=>'g') %></button>
       
    </div>
    <div class="col text-center font-weight-light display-4" style="border:solid black 1px">
        Educational Documents<br>
         <button><%= link_to 'GO', docs_path(:flag=>'e') %></button>
        
        
    </div>
</div>